body {
  font-family: sans-serif;
   -webkit-user-select: text;
}
#navheader {
  background-color: #c5cae9;
  color: #1a237e;
  font-size:250%;
}

.container {
    min-width: 500px;
  }

paper-fab {
  position: absolute !important;
  top: 35px;
  right:0.5em;
  z-index:1;
  color: #FFFFFF;
  background: #00897b;
}

core-menu {
  font-size:100%;
  padding: 0px;
  margin: 0px;

}

core-item {
  font-size:120%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: #D3D3D3;
}


@media (min-width: ) {
  #tabs {
    width: 200px;
  }
  .container {
    min-width: 500px;
  }

}

